.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.bar-feature0 {
	fill: #33b5e5;
}

.bar-feature1 {
	fill: #CC0000;
}

.bar-feature2 {
	fill: #669900;
}

.bar-feature3 {
	fill: #33b5e5;
}

.bar-feature4 {
	fill: #ffbb33;
}